fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
librosa==0.10.2.post1
numpy==2.2.1
soundfile==0.13.0
mutagen==1.47.0
scipy==1.15.1
scikit-learn==1.6.1
numba==0.61.2
imageio-ffmpeg==0.6.0
pyinstaller==6.11.1
